{% extends "coursework/layout.html" %}

{% block title %}Create Assignment{% endblock %}

{% block body %}
<section>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body">
            <!-- ICON -->
            <div class="text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                class="bi bi-file-earmark-plus-fill mx-auto" viewBox="0 0 16 16">
                <path
                  d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z" />
              </svg>
            </div>
            <form action="{% url 'create_assignment' coursework.id %}" class="needs-validation" method="post"
              novalidate>
              {% csrf_token %}
              <!-- COURSEWORK -->
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label"></label>
                <input type="text" id="disabledTextInput" class="form-control" value="{{ coursework }}" disabled>
              </div>
              <!-- TITLE -->
              <div class="form-floating mb-3">
                <input type="text" class="form-control my-4" id="floatingInput" placeholder="Title" name="title"
                  maxlength="128" required autofocus>
                <label for="floatingInput">Title</label>
                <div class="invalid-feedback">
                  Invalid title.
                </div>
              </div>
              <!-- DEADLINE -->
              <div class="form-floating mb-3">
                <input type="datetime-local" class="form-control my-4" id="floatingInput" placeholder="Datetime"
                  name="datetime" required>
                <label for="floatingInput">Datetime</label>
                <div class="invalid-feedback">
                  Invalid datetime.
                </div>
              </div>
              <!-- CREATE BUTTON -->
              <div class="text-center mt-3">
                <button class="btn btn-secondary">Create Assignment</button>
                <!-- <a href="" class="nav-link">Already have an account?</a> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}