{%extends "coursework/layout.html"%}

{%block body%}
<!-- TITLE -->
<h1>
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-journal-bookmark"
    viewBox="0 0 16 16">
    <path fill-rule="evenodd"
      d="M6 8V1h1v6.117L8.743 6.07a.5.5 0 0 1 .514 0L11 7.117V1h1v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8z" />
    <path
      d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
    <path
      d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
  </svg>
  Assignment
</h1>
<!-- CONTENT -->
<table class="table table-dark table-striped table-hover table-borderless">
  <thead>
    <tr>
      <th scope="col">Course</th>
      <th scope="col">Assignment</th>
      <th scope="col">Created</th>
      <th scope="col">Deadline</th>
      <th scope="col" class="text-center">Status</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    {%for assignment in assignments%}
    <tr>
      <td>{{assignment.coursework}}</td>
      <td>{{assignment}}</td>
      <td>{{assignment.created_on|date:'n/d D'}}</td>
      <td class="{%if assignment.is_expired%}text-decoration-line-through{%endif%}">
        {{assignment.deadline|date:'n/d D G:i'}}
        {%if not assignment.is_expired%}
        ({{assignment.deadline|timeuntil}} left)
        {%endif%}
      </td>
      <td class="text-center">
        {%if assignment.is_expired%}
        <div class="text-danger fw-bold">Expired</div>
        {%else%}
        <div class="text-success fw-bold">Active</div>
        {%endif%}
      </td>
      <td class="text-center">
        {%if assignment.is_expired%}
        {%if user.status == "Student"%}
        <a href="{%url 'view_submit_result' assignment.coursework.id assignment.id%}"
          class="btn btn-success btn-sm fw-bold">View</a>
        {%else%}
        <form action="{%url 'assignment_result'%}" method="post">
          {%csrf_token%}
          <input type="hidden" name="assignment-id" value="{{assignment.id}}">
          <input type="hidden" name="coursework-id" value="{{assignment.coursework.id}}">
          <button type="submit" class="btn btn-success btn-sm fw-bold">Result</button>
        </form>
        {%endif%}
        {%else%}
        {%if user.status != "Teacher"%}
        <a href="{%url 'submit_assignment' assignment.coursework.id assignment.id%}"
          class="btn btn-primary btn-sm fw-bold">Submit</a>
        {%else%}
        <div class="fw-bold">-</div>
        {%endif%}
        {%endif%}
      </td>
    </tr>
    {%empty%}
    <tr>
      <td colspan="6">No assignment at the moment...</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}