{%extends "coursework/layout.html"%}

{%block title%}Register{%endblock%}

{%block body%}
<section>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body">
            <!-- ICON -->
            <div class="text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                class="bi bi-person-fill-add mx-auto" viewBox="0 0 16 16">
                <path
                  d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                <path
                  d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
              </svg>
            </div>
            <form action="{%url 'register'%}" class="needs-validation" method="post" novalidate>
              {%csrf_token%}
              <!-- INPUT STUDETN ID -->
              <div class="form-floating mb-3">
                <input type="number" class="form-control my-4" id="floatingInput" placeholder="Student ID"
                  name="student-id" required autofocus>
                <label for="floatingInput">Student ID</label>
                <div class="invalid-feedback">Please enter valid student id.</div>
              </div>
              <!-- INPUT PASSWORD -->
              <div class="form-floating">
                <input type="password" class="form-control my-4" id="floatingPassword" placeholder="Password"
                  name="password" required>
                <label for="floatingPassword">Password</label>
                <div class="invalid-feedback">Please enter password.</div>
              </div>
              <!-- INPUT CONFIRMATION -->
              <div class="form-floating">
                <input type="password" class="form-control my-4" id="floatingPassword" placeholder="Confirm Password"
                  name="confirmation" required>
                <label for="floatingPassword">Confirm Password</label>
                <div class="invalid-feedback">Please enter password confirmation.</div>
              </div>
              <div class="text-center mt-3"><button class="btn btn-secondary">Register</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}