{%extends "coursework/layout.html"%}

{%block title%}Coursework Request{%endblock%}

{%block body%}
<!-- TITLE -->
<h1>
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-card-checklist"
    viewBox="0 0 16 16">
    <path
      d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
    <path
      d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
  </svg>
  Coursework Request
</h1>
<!-- TABLE -->
<table class="table table-dark table-striped table-hover table-borderless">
  <thead>
    <tr>
      <th scope="col">Student</th>
      <th scope="col">Coursework</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    {%for coursework_request in coursework_requests%}
    <tr>
      <td>
        {{coursework_request.student.last_name}}{{coursework_request.student.first_name}}({{coursework_request.student}})
      </td>
      <td>{{coursework_request.coursework}}</td>
      <td class="text-center">
        <form action="{%url 'request_coursework'%}" method="post">
          {%csrf_token%}
          <input type="hidden" name="request-id" value="{{coursework_request.id}}">
          <button type="submit" class="btn btn-success btn-sm fw-bold" name="request-action"
            value="Accept">Accept</button>
          <button type="submit" class="btn btn-danger btn-sm fw-bold" name="request-action"
            value="Decline">Decline</button>
        </form>
      </td>
    </tr>
    {%empty%}
    <tr>
      <td colspan="3">No request at the moment...</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}