{%extends "coursework/layout.html"%}

{%block title%}Manage Upload File{%endblock%}

{%block body%}
<section>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body">
            <!-- ICON -->
            <div class="text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                class="bi bi-journal-text mx-auto" viewBox="0 0 16 16">
                <path
                  d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                <path
                  d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                <path
                  d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
              </svg>
            </div>
            <!-- ASSIGNMENT -->
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label"></label>
              <input type="text" id="disabledTextInput" class="form-control" value="{{assignment_status.assignment}}"
                disabled>
            </div>
            <!-- UPLOADED FILE(S) -->
            <div class="mb-3 overflow-auto">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col" colspan="3">Uploaded File(s)</th>
                  </tr>
                </thead>
                <tbody>
                  {%for file in upload_file.all%}
                  <tr id="uploaded-file-{{file.id}}">
                    <td><a href="{{file.file.url}}" class="text-decoration-none">{{file.file}}</a></td>
                    <td class=" text-center"><a class="btn btn-danger btn-sm"
                        onclick="deleteFile('{{file.id}}', '{{file.file}}')">Delete</a></td>
                  </tr>
                  {%endfor%}
                  <tr>
                    <td colspan="2" class="text-center">
                      <form method="post" enctype="multipart/form-data">
                        <input type="hidden" name="student-id" id="student-id" value="{{user.id}}">
                        <input type="hidden" name="assignment-id" id="assignment-id"
                          value="{{assignment_status.assignment.id}}">
                        <input type="file" name="file-for-upload" id="upload-file" style="display: none;"
                          onchange="uploadFile()">
                        <label for="upload-file" class="fw-bold fs-5" id="label-upload">+</label>
                      </form>
                      <div id="spinner" class="spinner-border text-primary d-none" role="status">
                        <span class="sr-only"></span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- MEMO -->
              <div class="form-floating mb-3">
                <textarea class="form-control" id="edit-memo" name="memo" style="height: 100px; resize: none"
                  placeholder="Memo">{%if assignment_status.memo is not None%}{{assignment_status.memo}}{%endif%}</textarea>
                <label for="edit-memo">Memo</label>
              </div>
              <!-- EDIT BUTTON -->
              <div class="text-center mt-3">
                <button class="btn btn-secondary" onclick="editMemo('{{assignment_status.id}}')">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}