.dodge-nav {
    margin-top: 5rem;
}
th:first-child {
    border-top-left-radius: 1rem;
}
th:last-child {
    border-top-right-radius: 1rem;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
}
#label-upload:hover {
    cursor: pointer;
}
